.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/src/main/gen/

#backend
/backend/backend.iml

#modelclasses
/modelclasses/modelclasses.iml

#database files
/rateMyDrinkDB
/Users
derby.log

RateMyDrink.iml

