.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/src/main/gen/

#backend
/backend/backend.iml

#modelclasses
/modelclasses/

#database files
/rateMyDrinkDB
derby.log

